<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="socket.io.js" charset="utf-8"></script>
    <script src="w3.js"></script>
    <script src="pubclient.js" charset="utf-8"></script>
    <title>demo</title>
  </head>
  <body>
    small demo by fathin
    <div id="datas">
      a0={{a0}}<br>
      a1={{a1}}<br>
      a2={{a2}}<br>
      a3={{a3}}<br>
      a4={{a4}}<br>
      a5={{a5}}
    </div>
  </body>
</html>
